:root {
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;

    /* rose rgb(225, 29, 72) */
    /* indigo rgb(79, 70, 229) */
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;

}

a {
    color: var(--clr-rose);
}

strong {
    color: var(--clr-indigo);
}